//header
.header {
    background-image: url("../img/IMG_0641.jpg");
    background-size: cover;
    overflow: hidden;
    .overlay{
        min-height: 600px;
        background-color: rgba($minredcolor, 0.9);
        overflow: hidden;
    }
    .textheader{
         display: block;
        overflow: hidden;
        color: $white;
    }
}